<div class="container">
<h2>Reactvie Forms</h2>
<hr>
    <form [formGroup]='addressForm' (ngSubmit)='submitData()'>
        <div class='form-group'>
            <label>Name</label>
            <input type='text' formControlName='Name' class='form-control'>
        </div>
        <div formGroupName="address">
            <div class='form-group'>
                <label for="city">City</label>
                <input id="city" type='text' formControlName='city' class='form-control'>
            </div>
            <div class='form-group'>
                <label for="postal">Postal Code</label>
                <input id="postal" type='text' formControlName='postal' class='form-control'>
            </div>
        </div>

        <div *ngIf="addressForm.get('Name')?.invalid && addressForm.get('Name')?.touched">
            <div *ngIf="addressForm.get('Name')?.errors?.required" class='text text-danger'>Name is
                required</div>
            <div *ngIf="addressForm.get('Name')?.errors?.pattern" class='text text-danger'>Invalid Product Name
                (It must be b/w 5 to 10) </div>
        </div>
        <div *ngIf="addressForm.get('address.city')?.invalid && addressForm.get('address.city')?.touched">
            <div *ngIf="addressForm.get('address.city')?.errors?.required" class='text text-danger'>City is required</div>
            <div *ngIf="addressForm.get('address.city')?.errors?.pattern" class='text text-danger'>Invalid City Name (It must be b/w 5 to 10) </div>
        </div>
        <div *ngIf="addressForm.get('address.postal')?.invalid && addressForm.get('address.postal')?.touched">
            <div *ngIf="addressForm.get('address.postal')?.errors?.required" class='text text-danger'>Postal Code is required</div>
            <div *ngIf="addressForm.get('address.postal')?.errors?.pattern" class='text text-danger'>Invalid Postal Code (It must be 6 digits) </div>
        </div>
        <button [disabled]='!addressForm.valid' type='submit' class='btn btn-success'>Submit</button>
    </form>
</div>